@media(max-width: 1150px) {
    .header__input {
        display: none;
    }
     .menu__list {
        display: none;
        background: #000;
        position: absolute;
        top: 242px;
        left: 0;
        z-index: 1;
        right: 0; 
        padding-bottom: 30px; 
        text-align: center; 
        li {
            display: block;
            & + li {
                margin-left: 0;
            }
        }
        a {
            display: block;
            padding: 7px 0;
            // border-bottom: 1px solid #fff;
        }
        .header__drop-down .drop-down__link .fa-angle-down{
            bottom: -27px;
            right: -49px;
        }
    }

    .menu__btn {
        display: block;
        width: 30px;
        cursor: pointer;
        // padding-top: 25px;
        div {
            background-color: #fff;
            height: 3px;
            & + div {
                margin-top: 5px;
            }
        }
    }

    .header__drop-down .drop-down__list {
        width: 300px;
        top: 5px;
        left: -358px;

    }
    .trend__doors-now-btn {
        padding-bottom: 50px;
    }
    .trend {
        padding-bottom: 0;
    }
    .doors__show-main {
        padding-bottom: 60px;
    }
    .catalog__doors {
        display: inline;
    }
    ul.catalog_list {
        margin-right: 0px;

    }
    .header__menu .menu .menu__list li a {
        margin-left: 0;
        padding-bottom: 10px;
    }
    .doors__show {
        display: block;
        text-align: center;
    }
    .slider-slick .img1 .block {
        display: none;
    }

    .footer {
        flex-wrap: wrap;
    }
    .footer__info {
        flex-wrap: wrap;
    }
    .footer__info-contact {
        min-width: 100%;
        padding-bottom: 50px;
    }
}

@media(max-width: 1060px) {
    .subscribe {
        padding: 50px 0;
    }
    .subscribe__images img {
        margin-right: 0;
    }
    .combination {
        margin: 0 0 50px 0px;
    }
}

@media(max-width: 900px) {
    .header__top {
        position: relative;
    }

    .header__logo {
        margin-left: 60px;
    }
    .header__logo div {
        font-size: 16px;
        text-align: center;
    }
    .menu__btn {
        position: absolute;
        // top: 10px; 
        top: 50px;
        div {
            background-color: #000;    
        }
    }
    .header__menu .menu{
        height: 0; 
    }
    .menu__list {
        top: 165px;
        padding-top: 20px;
    }
    .recommend__desc-block-img .circle {
        top: 20%;
        left: 30%;
    }
    
}

@media(max-width: 800px) {
    .header__logo img {
        width: 140px;
    }
    .header__top-inner {
        padding-top: 24px;
    }
    .header__contact {
        width: 200px;
    }
    .header__contact-call {
        display: none;
    }
    .header__circle i.fa-shopping-basket {
        font-size: 26px;
    }
    i.fas.fa-phone-volume {
        font-size: 20px;
    }
    .header__contact-tel span {
        font-size: 20px;
    }
    .header__contact-tel {
        padding-top: 20px;
    }
    .header__circle {
        left: -100px;
    }
    .menu__list {
        top: 120px;
    }
    .header__drop-down .drop-down__list {
        top: 40px;
        left: -145px;
    }
    .main__info-title {
        font-size: 31px;
        line-height: 40px;
    }

    .footer__info-contact {
        padding: 0 0 50px 50px;

    }
    .footer__info-contact-list {
        padding: 0 45px 50px 50px;
    }
    .footer__info-contact-search {
        margin: 0 50px 0 50px;
    }
    .footer__info-contact-social {
        padding-left: 50px;
        .title {
            padding-bottom: 20px;
        }
        ul {
            display: flex;
            li {
                padding-right: 40px;
            }
        }
    }
}  

@media(max-width: 760px) {
    .advantage {
        display: none;
    }
    .video__doors {
        padding-top: 50px;
    }
    .recommend__desc-block-img .circle {
        width: 40px;
        height: 40px;
        top: 33%;
        left: 35%;
    }
    .recommend__desc-block-img .circle .trigle { 
        top: 32%;
        left: 40%;    
        border-top: 7px solid transparent;
        border-left: 11px solid #343538;
        border-bottom: 7px solid transparent;
    }
    .slider-slick {
            img {
                padding: 0px 20px;
            }
    }
}

@media(max-width: 705px) {
    .main__info {
        padding-top: 50px;
    }
    .main__img {
        display: none;
    }
    .main__info-btn {
        padding-bottom: 0;
    }
    .main__info-btn button {
        font-size: 14px;    
        max-width: 300px;
    }
    .trend__doors-now-btn button {
        margin-right: 10px;
    }
    .slider .subscribe {
        display: block;
        text-align: center;
    }
    .slider .subscribe-title {
        padding-right: 0;
    }
    .subscribe-mail {
        padding-top: 25px;    
    }
}

@media(max-width: 605px) {
    .header__contact {
        display: none;
    }
    .header__circle  {
        top: -19px;
        left: -80px;
    }
    .header__logo div {
        font-size: 14px;
    }
    .recommend {
        display: none;
    }
    .footer__info-contact-search {
        padding-bottom: 50px;
    }
    .footer__info-contact-social ul li {
        padding-right: 10px;
    }
}

@media(max-width: 500px) {

    .footer__info-contact-search {
        margin: 0;
    }

    .footer__info-contact-search input {
        width: 220px;
        margin: 0 0 50px 0;
    }
    .footer__info-contact-social {
        padding-left: 0;
    }
    .footer__info-contact {
        padding: 0 0 50px 0;

    }
    .footer__info-contact-list {
        padding: 0 0 50px 0;
    }
    .footer__politic  {
        padding-bottom: 30px;
        line-height: 30px;
       }
    .footer__politic span {
        padding-left: 0;
    }

}

@media(max-width: 400px) { 
    .doors__show {
        padding-left: 28px;       
    }
    .recommend__desc-title {
        line-height: 44px;
    }
    .combination-about__text {
        margin-left: 60px;
    }
    .slider .subscribe-mail button {
        margin-top: 10px;
        margin-left: 0;
    }
}



@media(max-width: 330px) { 
    .video__doors-player {
        display: none;
    }
   .footer__info-contact-search {
       padding-bottom: 0;
   }
   

}





//MIN
@media(min-width: 1151px) {
    .menu {
        .menu__list{
                display: block !important;
        } 
    }
 }
