@import '_vars';
@import '_global';
@import '_fonts';

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.header__input {
    margin-left: auto;
    margin-right: 120px;
    display: flex;

    input {
        width: 250px;
        height: 40px;
        border-radius: 6px;
        border: 2px solid #e0e0e0;
        padding-left: 20px;  
    }   
    ::placeholder {
        color: #c8bfbf;
    }
    &-btn {
        button {
            color: #fff;
            font-weight: 600;
            width: 70px;
            height: 40px;
            border-radius: 6px;
            border: 2px solid $red;
            background-color: $red;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

    }
}



.header__contact {
    width: 300px;
    height: 75px;
    &-tel {

        i {
            font-size: 30px;
            margin-right: 20px;
            color: $text;
        }
        span {
            
            font-size: 30px;
            font-weight: 500;
            a {
                color: $text; 
            }
        }
    }
    &-call {
        padding-top: 20px;
        font-size: 20px;
        margin-left: 45px;
        color: $text;
        span {
            text-decoration: underline;
        }
    }
}

.header__menu {
    height: 70px;
    background-color: #000;


    .menu__list {
         display: flex;
         padding-top: 24px;
         font-size: 20px;
        li {
            padding-left: 80px;
            a {
                color: #fff;
            }
           
        }
    }
}

.header__menu .menu__list li:first-child {
    padding: 0;
}

.main {
    height: 600px;
    &__inner {
        display: flex;
        
    }

    &__info {
        width: 700px;
        padding-top: 130px;
       
        &-title {
            font-weight: 900;
            padding-bottom: 40px;
            font-size: 51px;
            line-height: 60px;
        }
        &-text {
            color: $text;
            width: 320px;
            line-height: 22px;
            padding-bottom: 50px;
        }
        &-btn {
            padding-bottom: 120px;
           
            button {
                background-color: $dark-blue;
                min-width: 320px;
                height: 60px;
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
                border: none;
               
                i.fa-arrow-right {
                    padding-left: 14px;
                    font-size: 20px;
                    
                }
            }
        }
    }
}

.advantage {
    
    &__title {
        padding: 60px 0;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        &-block {
            width: 220px;
            text-align: center;
            
        }
        &-icon {
            font-size: 90px;
        }
        &-plane-img {
            color: $blue;
        }
        &-online-img {
            color: $green;
        }
        &-product-img{
            color: $red;    
        }
        &-title {
            font-size: 24px;
            font-weight: 700;
            padding: 40px 0 20px;
        }
        &-text {
            color: $text; 
        }
    }
}

//Video Door
.video__doors {
    height: 820px;
    padding-bottom: 100px;
    &-player {
        width: auto;
        height: 400px;
    }
}

.trend {
    padding-bottom: 120px;
    &__doors {
        
        &-now-title{
            font-size: 37px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 60px;
        }
        &-now-btn {
            text-align: center;
            font-size: 21px;
            padding-bottom: 100px;
            button {
                margin-right: 70px;
                border: none;
                color: $text;
                background-color: #fff;
                &:active {
                    color: #000;
                }
            }

        }
    }
}

.doors__show {
    display: flex;
    justify-content: center;     
    padding-left: 50px;
    &-main {
        padding-right: 50px;
        &-img {
            img {
                height: 500px;
            }
        }

    }
    &-desc {
        padding-top: 30px;
        text-align: center;
        font-size: 20px;
    }
}

.trend__doors-show-title{
    padding-bottom: 20px;
    font-weight: 600;
}

.trend__doors-show-price{
    color: $text;
    font-size: 18px;
}

.recommend {
    padding-top: 60px;
    height: 700px;
    background-color: #f3f6f6;
    &__desc {

        &-title {
            text-align: center;
            font-size: 38px;
            font-weight: 600;
            padding-bottom: 100px;
        }
        &-button {
            button {
                    color: #fff;
                    font-weight: 300;
                    width: 320px;
                    height: 60px;
                    border: none;
                    background-color: $dark-blue;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    text-transform: uppercase;
                   
                    .fa-arrow-right {
                        margin-left: 80px;
                    }
            }
        }
    }
}

.recommend__desc-blocks {
    display: flex;
    justify-content: center;
}

.recommend__desc-block {
    padding-right: 70px;
    
    &-img {
        cursor: pointer;
        position: relative;
        .circle {
            position: absolute;
            top: 57px;
            left: 110px;
            width: 80px;
            height: 80px;
            background: white;
            border-radius: 50px;
            .trigle {
                position: absolute;
                top: 30px;
                left: 33px;
                border-top: 11px solid transparent;
                border-left: 20px solid #343538;
                border-bottom: 10px solid transparent;  
            }
        }
    }

    &-img:hover {
        border-radius: 10%;
        transition: 0.5s;
        box-shadow: 0px -12px 12px 1px #acb3ba;
    }
    &-about {
        text-align: center;
        padding-bottom: 40px;
    }
}

.recommend__desc-p {
    color: $text;
}

.subscribe {
    padding: 90px 0;
    &__insta {
        text-align: center;
        width: 500px;
        margin: 0 auto;
        &-title {
            font-size: 42px;
            line-height: 48px;
            font-weight: 400;
        }
        &-link {
            padding: 20px 0; 
            color: $text;
            padding-right: 10px;   
            i.fa-instagram {
                font-size: 28px;
            }
        }
        &-desc {
            font-size: 18px;
            line-height: 24px;
            color: $text;
            padding-bottom: 20px;   
        }
    }
    &__images {
        text-align: center; 
        img {
            margin-right: -5px;
        }
    }
}

.footer {
    background-color: #1f1f1f;
    height: 350px;
    &__info {
        padding: 60px 0;
        color: white;
        display: flex;
        justify-content: space-between;
        &-contact-tel {
            padding-top: 20px;
            color: $text;
            line-height: 32px;
        }
        &-contact-list {
            line-height: 38px;
        }
        &-contact-search {
            .title {
                font-size: 30px;
                padding-bottom: 20px;
            }
            input {
                width: 300px; 
                height: 40px;
                border-radius: 4px;
                border: none; 
                padding-left: 20px; 
                color: $text; 
            }
            button {
                margin-left: -9px;
                margin-top: 9px;
                color: #fff;
                font-weight: 600;
                width: 70px;
                height: 40px;
                border-radius: 6px;
                border: 2px solid $red;
                background-color: $red;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            } 
        }
        &-contact-social {
            color: $text;
            line-height: 44px;
            .title {
                font-size: 26px;
            }
            ul {
                a {
                    font-size: 16px;
                    color: $text;
                   
                    .fab {
                        padding-top: 7px;
                        padding-left: 8px; 
                        color: white;
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                        background-color: $red;
                        border-radius: 50%;
                    }
                    .fa-facebook-f:before {
                        padding-left: 2px;
                    }
                }
            }
        }
    }
}




.footer__politic {
    padding-top: 30px;
    border-top: 1px solid #333;
    height: 60px;
    background-color: #1f1f1f;
    color: $text;
    text-align: center;
    padding-bottom: 50px;
    span {
        padding-left: 30px;
    }
}